/* КОЛІР РСНОВНОГО ТЕКСТУ #212121 */
/* ДРУГОРЯДНИЙ КОЛІР ТЕКСТУ #757575 */

*{  
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 { 
margin: 0;
}

ul {
margin: 0;
padding-left: 0;
}

img{
    display: block;
    max-width:100%; 
    height:auto; 
}

:root{
    --main-text: #212121;
    --secondary-text: #757575;
}

body{
    background-color:#FFFFFF ;
    color: var(--main-text);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em  
}

.header{
    background-color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #ECECEC;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.logo{
    color: #2196F3;
}

.logo1{
    color: #000000;
}

.logo-font{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.navigation{
    color: var(--secondary-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.navigation-header{
    color: var(--main-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation:hover,
.navigation:focus{
    color: #2196F3;
}

.navigation-header:hover ,
.navigation-header:focus{
    color: #2196F3;
    
}



/* .navigation-header:hover .navigation,
.navigation-header:focus .navigation{
    color: #2196F3;
    fill: #2196F3;
} */


.footer-img-a{
    fill: var(--secondary-text);
    
}

.header-connect{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-logo{
    margin-right: 93px;
}

.header-list{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-container{
    display: flex;
    align-items: center;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none; 
}

.contact-color{
    color: var(--secondary-text);
    display: flex;
    align-items: center;
}

.navigation-header-img{
    margin-right: 10px;
    fill: currentColor;
}

.hero{
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    letter-spacing: 0.06em;
    text-align: center;
    background-image: linear-gradient( rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url(../img/lessons4/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title, .logo2, .navigation-address{
    color: #FFFFFF;
}

.hero-text{
    
    font-weight:900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    color:#FFFFFF;
    background-color: #2196F3; 
    border: none;
    border-radius: 4px;
}

.container-benefits{
    display: flex;
    gap: 30px;
}

.section-corporate{
    
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.section-name{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
}

.section-title{
    color: var(--secondary-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}


.section-doing{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16; 
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.section-doing-picture{
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.section-doing-text-title{
    position: relative;
}



.section-doing-text{
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    bottom: 0;
    left: 0;
}

.section-team{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    padding-top: 30px;
}

.description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18; 
    margin-bottom: 16px;
}

.container-team{
    text-align: center;
}


.footer{
    padding: 60px 0;
    background-color: #2F303A;

}

.footer-logo{
    margin-bottom: 20px;
}

.footer-address-font{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    display: block;
}

.section-background{
    background-color: #F5F4FA;
}



.button-secondary{
    color: var(--main-text);
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.button-secondary:hover,
.button-secondary:focus{
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.current{
    color: #2196F3;
    position: relative;
}

.current::after{
    position: absolute;
    content: '' ;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -33px;
    
    background: #2196F3;
    border-radius: 2px;
}

.portfolio-item{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px;

}

.section{
    color: var(--main-text);
    padding: 94px 15px ;
    

}

.section-benefits{
    padding-top: 94px; ;
}

button{
    cursor: pointer;
}

.section-portfolio{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text);
    margin-bottom: 4px;
}

.section-title-portfolio{
    color: var(--secondary-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.work-portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.work-portfolio-text-position:hover .work-portfolio-text,
.work-portfolio-text-position:focus .work-portfolio-text{
    transform: translateY(0%);
    
}

.work-portfolio-text-position:hover,
.work-portfolio-text-position:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
}

.work-portfolio-text:hover,
.work-portfolio-text:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    

}

.work-portfolio-text-wrap{
    position: relative;
    overflow: hidden;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.work-portfolio-text{
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;    
    color: #FFFFFF;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    height: 100%;
    width: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.work-portfolio-text-position{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.work-portfolio-text:hover .work-portfolio-text-position,
.work-portfolio-text:focus .work-portfolio-text-position{
    transform: translateY(101%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}



.button-portfolio{
    display: flex;
    gap: 8px;
    margin-bottom: 56px;
    justify-content: center; 
}

.section-doing-title{
    padding-top: 94px;
    padding-bottom: 94px;
}

.footer-contact:not(:last-child) {
    margin-bottom: 9px;
}

.section-teams{
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-corporate-team{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section-portfolios{
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-card{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
    border-top: none;

}

.section-team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team-social{
    display: flex;
    gap: 10px;
    justify-content: center;

    padding-bottom: 30px;
}

.team-social-list{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:  #FFFFFF;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2196F3;
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.team-social-list:hover,
.team-social-list:focus{
    background-color: #2196F3;
    
}

.team-social-list:hover .team-social-icon,
.team-social-list:focus .team-social-icon{
    fill: #FFFFFF;
    
}

    
.team-social-icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-img{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}


.client-post-title{
    display: flex;
    gap: 30px;
    justify-content: center; 

    
}

.client-img{
    fill: #AFB1B8;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .client-item{
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.client-img:hover,
.client-img:focus{
    border-color: #2196F3;
    fill: #2196F3;
    
}

/* .client-item:hover,
.client-item:focus{
    border: 1px solid #2196F3;
    color: #2196F3;
    
    
} */

.client-icon:hover,
.client-icon:focus{
    
    
}


.footer-container{
    display: flex;
    align-items: baseline;
}

.join-up{
    margin-left: 70px; 
}

.join-up-list{
    display: flex;
    gap: 10px;
    justify-content: center;
    
    
    
}

.join-up-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
    
}

.join-up-list-social{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:  rgba(255, 255, 255, 0.1);;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2196F3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.join-up-list-social:hover,
.join-up-list-social:focus{
    background-color: #2196F3;  
}


    
.join-up-icon{
    fill: #FFFFFF;
}



.subscribe {
    display: block;
    margin-left: 93px;

}

.subscribe-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.subscribe-form {
    display: flex;
    
}

.subscribe-input {
    width: 358px;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border 250ms #2196F3;
}

.subscribe-input:hover,
.subscribe-input:focus {
    outline: none;
    border: 1px solid #2196F3;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    fill: #FFFFFF;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    cursor: pointer;
}

.footertelegramm {
    margin-left: 10px;
}

.footer-button {
    display: flex; align-item: center;
} 

.backdrob{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.backdrob.is-hidden .modal{
    transform: translate( -50%, -50% ) scale(0);
}

.modal{
    position: absolute;
    width: 528px;
    min-height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% ) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
}

.modal-button{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    color: #000000;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button:hover,
.modal-button:focus{
    color: #2196F3;
}

.modal-title{
text-align: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text);
margin-bottom: 12px;
}



.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    padding-left: 42px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    outline: transparent;
}

.modal-title-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text);
}



.modal-input:hover, 
.modal-input:focus{
    border-color: #2196F3;
}

.modal-input:hover + .input-icon, 
.modal-input:focus + .input-icon{
    fill: #2196F3;   
}


.modal-field{
    margin-bottom: 10px;
    
}

.modal-field-textarea{
    margin-bottom: 20px;
}

.modal-field-checkbox{
    margin-bottom: 30px;
}

.modal-text{
    display: block;
    width: 100%;
    height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--main-text);
    padding: 16px 12px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}

.rules-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text);
}

.rules-text span{
    width: 16px;
    height: 15px;
    border: 2px solid  var(--main-text);
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rules-link{
    padding-left: 7px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196F3;
}

.check-icon{
    opacity: 0;
}

.modal-check:checked + .rules-text span {
    background-color: #2196F3;
    border: none;
}

/* .modal-check:focus + .rules-text span {
    background-color: #2196F3;
} */


.modal-check:checked + .rules-text .check-icon {
    fill: #FFFFFF;
    opacity: 1;
}

.modal-title-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color:#FFFFFF;
    background-color: #2196F3; 
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    display: block;
    margin: 30px auto 0;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    border-width: 0;
    padding: 10px 32px;
    cursor: pointer;
}

.input-wrap{
    position: relative;
    margin-top: 4px;
}

.input-icon{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.modal-icon{
    fill: currentColor;
    
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}